name: Android Build

on:
  pull_request:
    branches:
      - '**'
      - '!master'
  push:
    branches:
      - '**'
      - '!master'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build Project
        run: ./gradlew assembleDebug

      - name: Run Unit Tests
        run: ./gradlew testStagingDebugUnitTest