name: Android Build

on:
  pull_request:
    branches:
      - run_github_action
  push:
    branches:
      - run_github_action

jobs:
  build:

    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v1

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build Project
        run: ./gradlew assamble